{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ut eum veniam eveniet beatae tenetur incidunt quasi nostrum, quaerat necessitatibus quia labore in soluta quis illo quibusdam ex sequi quae quam doloremque repudiandae a sit ea explicabo! At magnam deleniti illum incidunt tenetur harum corrupti ea quos ducimus veritatis saepe, tempora, optio eius quaerat placeat et dolorem autem cupiditate! Eos nulla delectus quidem, nesciunt beatae impedit ipsum modi atque nihil recusandae eligendi iste, est officia eaque quas distinctio blanditiis sunt vel. Consectetur cumque quisquam, eius earum delectus consequatur minima magnam molestias tempora cupiditate et natus nostrum explicabo ratione corporis sapiente.</p>
{% endblock content %}

